img.imageshow {
    position: absolute;
    margin: auto;
    top: 20%;
    bottom: 20%;
    left: 10%;
    right: 10%;
    z-index: 900000;
    background-color: whitesmoke;
    border-radius: 0%;
    border: currentColor solid .2em;
    box-shadow: -53px -38px 95px 0px rgba(0, 0, 0, 0.86);
    -webkit-box-shadow: -53px -38px 95px 0px rgba(0, 0, 0, 0.86);
    -moz-box-shadow: -53px -38px 95px 0px rgba(0, 0, 0, 0.86);
}

img.showableimage {
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

#closenotifelm {
    position: absolute;
    top: 2em;
    right: 2em;
    background-color: black;
    color: white;
    padding: 4px;
    border: 2.5px solid gray;
    z-index: 900001;
}