  #localver {
      background-color: #32a723;
  }

  #latestver {
      background-color: #006eff;
  }

  .code-block-1 {
      font-family: mono;
      background-color: #455245;
      color: #FFF2FF
  }
  #infoblock-1 {
    text-align: center;
    font-style: italic;
  }
  .ver-d {
    font-size:larger;
  }